body {
    margin: 0;
    background: #111;
    color: #fff;
}

header {
    text-align: center;
    padding: 30px;
    background: #c30000;
}

.gallery-section, .drivers-section {
    padding: 40px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    border-radius: 10px;
    border: 2px solid #aaa;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.drivers {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 320px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 320px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
    background: #222;
    border-radius: 2px;
    border: 2px solid #444;
    padding: 10px;
    text-align: center;
}

.card-front img {
    width: 200px;
    height: 230px;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
}

footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: #ccc;
}
